settings {
	nodaemon = true
}

-- http://axkibe.github.io/lsyncd/faq/multiple-targets/

paths_and_servers = {
	-- Project foo bar
	{ 'main/foobar/foo/', { 'server1', 'server1'            }},
	{ 'main/foobar/bar/', { 'server1', 'server2', 'server3' }},
	{ 'main/foo/'       , {            'server2'            }},
}

for _, pk in ipairs(paths_and_servers) do
	path, servers = table.unpack(pk)
	for _, server in ipairs(servers) do
		sync {
			default.rsync,
			source = '/home/denilson/git_repositories/' .. path,
			target = server .. ':/usr/local/foobar/' .. path,
			delay = 1,
			-- excludeFrom = '/home/denilson/.gitignore',
			excludeFrom = '/home/denilson/git_repositories/main/.gitignore',
			rsync = {
				-- http://axkibe.github.io/lsyncd/faq/postscript/
				binary = '/home/denilson/bin/lsyncd-rsync-and-notify.sh',
				cvs_exclude = true,
			},
		}
	end
end

-- vi:ft=lua
